torch>=2.5.1
flash-attn
transformers==4.51.3
vllm==0.7.3
sglang==0.4.5
deepspeed>=0.15.0
easydict
decord
orjson
accelerate
bitsandbytes
datasets
einops
loralib
peft
tensorboard
tqdm
wandb
nltk
mathruler
loguru
librosa
